# mysql/my.cnf
[mysqld]
log_error_verbosity = 1  # Reduce log noise
# Laravel compatibility
default-authentication-plugin=mysql_native_password

# Performance
skip-name-resolve
innodb_buffer_pool_size=256M
log_bin_trust_function_creators=1

# Dev-only settings (remove for production)
general_log = 1
general_log_file = /var/log/mysql/query.log
log_error_verbosity = 3